
@{
    ViewBag.Title = "Index";
}

<h1>About this site</h1>

<p> 
    As the name TestBed suggests, this site is testing area for some tech or concepts I want to test out or get working. 
    Issues and tasks are going to be put up on <a href="https://github.com/dhavien/TestHub">here</a> 
</p>

<h1>About me</h1>

<p>
    Hey I'm Donald and I'm a full stack software developer based out of Dallas, TX. Probrably first describe myself as a gamer
</p>

